.logo{
    width: 100px;
}
img{
    width: 100%;
}
body{
    background-color: rgb(38, 245, 76);
}
.main{
    background-color: #ffff;
    margin-bottom: 0;
}
.futter{
    background-color: black;
    font-size: 40px;
    color: #ffff; 
    text-align: start;
    height: 100%;
    word-spacing: 10px;
    
}
.ff>a{
    color: #ffff;
}
.wepon{
    width: 30px;
}
.zagolovok{
    text-align: center;
}

